<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "*.db">
    Order Allow,Deny
    Deny from all
</Files>
# Rediriger sitemap.xml vers sitemap.php
RewriteEngine On
RewriteRule ^sitemap\.xml$ sitemap.php [L]
Header set Access-Control-Allow-Origin "*"
